.viewrec {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(120, 120, 120, 0.4);
}
.container {
  width: 50%;
  height: 540px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: lightgrey;
}
.text {
  color: darkblue;
  width: 100%;
  display: inline-block;
  position: static;
  font-size: 30px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.38);
}
.text1 {
  color: rgb(36, 36, 36);
}
.container1 {
  width: 50%;
  height: 540px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: grey;
}
